In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

nc_df = pd.read_csv("Resources/NC-Accidents.csv")
nc_df.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512402,A-512403,MapQuest,241.0,3,2019-03-03 18:18:55,2019-03-03 18:48:19,35.241394,-80.850349,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,513350,A-513351,MapQuest,201.0,3,2019-03-04 04:50:16,2019-03-04 05:19:52,35.673294,-80.856918,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
2,513351,A-513352,MapQuest,201.0,2,2019-03-04 05:12:57,2019-03-04 05:42:43,35.080902,-80.850151,NaN,...,False,False,False,False,True,False,Night,Night,Night,Night
3,513352,A-513353,MapQuest,201.0,2,2019-03-04 05:37:25,2019-03-04 06:07:10,35.202320,-80.832909,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
4,513353,A-513354,MapQuest,201.0,2,2019-03-04 06:31:12,2019-03-04 07:01:00,35.252460,-80.643356,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day

In [36]:
nc_df = nc_df.drop(columns={"TMC","Timezone","Wind_Speed(mph)",
                    "Wind_Direction","End_Lat","End_Lng","Number",
                   "State","Country","Zipcode","Airport_Code","Wind_Chill(F)",
                   "Precipitation(in)"})

In [42]:
nc_df = nc_df.dropna()

In [43]:
nc_df.count()

Unnamed: 0               107616
ID                       107616
Source                   107616
Severity                 107616
Start_Time               107616
End_Time                 107616
Start_Lat                107616
Start_Lng                107616
Distance(mi)             107616
Description              107616
Street                   107616
Side                     107616
City                     107616
County                   107616
Weather_Timestamp        107616
Temperature(F)           107616
Humidity(%)              107616
Pressure(in)             107616
Visibility(mi)           107616
Weather_Condition        107616
Amenity                  107616
Bump                     107616
Crossing                 107616
Give_Way                 107616
Junction                 107616
No_Exit                  107616
Railway                  107616
Roundabout               107616
Station                  107616
Stop                     107616
Traffic_Calming          107616
Traffic_Signal           107616
Turning_Loop             107616
Sunrise_Sunset           107616
Civil_Twilight           107616
Nautical_Twilight        107616
Astronomical_Twilight    107616
dtype: int64

In [44]:
nc_df["County"]

0         Mecklenburg
1             Iredell
2         Mecklenburg
3         Mecklenburg
4         Mecklenburg
5         Mecklenburg
6         Mecklenburg
7         Mecklenburg
8         Mecklenburg
9         Mecklenburg
10        Mecklenburg
11        Mecklenburg
12        Mecklenburg
13        Mecklenburg
14        Mecklenburg
15        Mecklenburg
16        Mecklenburg
17        Mecklenburg
18        Mecklenburg
19        Mecklenburg
20           Guilford
21        Mecklenburg
22        Mecklenburg
23        Mecklenburg
24        Mecklenburg
25        Mecklenburg
26        Mecklenburg
27        Mecklenburg
28        Mecklenburg
29        Mecklenburg
             ...
108882         Yadkin
108883    Mecklenburg
108884    Mecklenburg
108885    Mecklenburg
108888    Mecklenburg
108889    Mecklenburg
108890        Robeson
108891           Wake
108892        Forsyth
108895       Guilford
108896    Mecklenburg
108897           Wake
108898    Mecklenburg
108899    Mecklenburg
108900    Mecklenburg
108901    Mecklenburg
108902        Forsyth
108903    Mecklenburg
108904    Mecklenburg
108905    Mecklenburg
108906    Mecklenburg
108907    Mecklenburg
108908    Mecklenburg
108909    Mecklenburg
108910    Mecklenburg
108911    Mecklenburg
108912    Mecklenburg
108913    Mecklenburg
108914           Wake
108915        Robeson
Name: County, Length: 107616, dtype: object

In [ ]:
nc_df.rename
        Alamance37001
        Alexander37003
        Alleghany37005
        Anson37007
        Ashe37009
        Avery37011
        Beaufort37013
        Bertie37015
        Bladen37017
        Brunswick37019
        Buncombe37021
        Burke37023
        Cabarrus37025
        Caldwell37027
        Camden37029
        Carteret37031
        Caswell37033
        Catawba37035
        Chatham37037
        Cherokee37039
        Chowan37041
        Clay37043
        Cleveland37045
        Columbus37047
        Craven37049
        Cumberland37051
        Currituck37053
        Dare37055
        Davidson37057
        Davie37059
        Duplin37061
        Durham37063
        Edgecombe37065
        Forsyth37067
        Franklin37069
        Gaston37071
        Gates37073
        Graham37075
        Granville37077
        Greene37079
        Guilford37081
        Halifax37083
        Harnett37085
        Haywood37087
        Henderson37089
        Hertford37091
        Hoke37093
        Hyde37095
        Iredell37097
        Jackson37099
        Johnston37101
        Jones37103
        Lee37105
        Lenoir37107
        Lincoln37109
        McDowell37111
        Macon37113
        Madison37115
        Martin37117
        Mecklenburg37119
        Mitchell37121
        Montgomery37123
        Moore37125
        Nash37127
        New Hanover37129
        Northampton37131
        Onslow37133
        Orange37135
        Pamlico37137
        Pasquotank37139
        Pender37141
        Perquimans37143
        Person37145
        Pitt37147
        Polk37149
        Randolph37151
        Richmond37153
        Robeson37155
        Rockingham37157
        Rowan37159
        Rutherford37161
        Sampson37163
        Scotland37165
        Stanly37167
        Stokes37169
        Surry37171
        Swain37173
        Transylvania37175
        Tyrrell37177
        Union37179
        Vance37181
        Wake37183
        Warren37185
        Washington37187
        Watauga37189
        Wayne37191
        Wilkes37193
        Wilson37195
        Yadkin37197
        Yancey37199