In [19]:
import pandas as pd

nc_df = pd.read_csv("Resources/NC-Accidents.csv")
nc_df.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512402,A-512403,MapQuest,241.0,3,2019-03-03 18:18:55,2019-03-03 18:48:19,35.241394,-80.850349,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,513350,A-513351,MapQuest,201.0,3,2019-03-04 04:50:16,2019-03-04 05:19:52,35.673294,-80.856918,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
2,513351,A-513352,MapQuest,201.0,2,2019-03-04 05:12:57,2019-03-04 05:42:43,35.080902,-80.850151,NaN,...,False,False,False,False,True,False,Night,Night,Night,Night
3,513352,A-513353,MapQuest,201.0,2,2019-03-04 05:37:25,2019-03-04 06:07:10,35.202320,-80.832909,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
4,513353,A-513354,MapQuest,201.0,2,2019-03-04 06:31:12,2019-03-04 07:01:00,35.252460,-80.643356,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day